<template name="cell_canvas">
  {{#if data_loaded}} 

  <div class="row-fluid">
    <div class="span9">
      <div id="chart"></div>
    </div>
    <div class="span3">
    <div class="well">
      <div>
      <p id="time">Time: {{current_time}}</p>
      <div id="time_slider"></div>
      </div>
      <div>
      <p id="time">Diameter: {{current_diameter}}</p>
        <div id="diameter_slider"></div>
      </div>
      <div>&nbsp</div>
      <div>
      <a role="button" class="btn" id="viewStability">View Stability</a>
      </div>
    </div>
    {{#each inspected_cells}}
    <div class="well" id="{{id}}">
      <h3 style="color:{{color}}">{{name}}<a href="#" class="close icon-remove-sign pull-right icon-large"></a></h3>
      <p>Stability: {{stability}} </p>
      <div style="overflow:scroll">
              <p style="display: inline-block">History</p>
              <table class="sort tablesorter table-bordered table-condensed sequence-symbols" style="display: inline-block">
                {{#each history}}
                {{#if isCurrent}}
                <td bgcolor="#dff0d8" style="min-width: 10px;
                max-width: 10px;" >{{value}}</td>
                {{else}}
                <td style="min-width: 10px;
                max-width: 10px;">{{value}}</td>
                {{/if}}
                {{/each}} 
              </tr>
            </table>
      </div>
      <div style="overflow:scroll">
              <p style="display: inline-block">Stability history</p>
              <table class="sort tablesorter table-bordered table-condensed sequence-symbols" style="display: inline-block">
                {{#each stabilityHistory}}
                {{#if isCurrent}}
                <td bgcolor="#dff0d8" style="min-width: 10px;
                max-width: 50px;" >{{value}}</td>
                {{else}}
                <td style="min-width: 10px;
                max-width: 50px;">{{value}}</td>
                {{/if}}
                {{/each}} 
              </tr>
            </table>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
 
<!-- Modal -->
<div id="stabilityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Evolution of cell stability over time</h3>
  </div>
  <div class="modal-body">
    <div id="stabilityChart"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
  

  {{else}}
  <img src="http://viewvc.svn.mozilla.org/vc/addons/trunk/bandwagon/skin/images/spinner.gif?revision=18591&view=co&pathrev=18591"/>
  {{/if}}
</template>